table {
    font-family: "averta cy w10";
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    background-color: #00ccffe2;
    box-shadow: 12px 20px;
    /* background-color:blueviolet ; */
  }

  th, td {
    border: 1px solid antiquewhite);
    padding: 20px;
    text-align: center;
  }

  th {
    /* made By Sakshi Khedekar */
  }

  body {
    /* background-image: url('moon.jpg'); */
    background-size: cover;
    background-color: antiquewhite;
  }

  caption {
    padding: 10px;
    letter-spacing: 10px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #000000;
  }